<div class="min-h-full flex flex-col space-y-3 items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full mt-2 bg-blue-100 border border-blue-200 text-sm text-blue-800 rounded-lg p-4 " role="alert" tabindex="-1"
         aria-labelledby="hs-solid-color-info-label">
        Intentaremos recuperar tu cuenta con tu <span class="font-bold">CLAVE CATASTRAL</span>
    </div>
    <div class="max-w-md w-full bg-white rounded-xl border border-gray-200 shadow-md p-8 space-y-5">
        <div class="max-w-md w-full">
            <h3 class="text-2xl font-semibold text-gray-900">Recuperar con clave catastral</h3>
            <p class="text-md text-gray-600">Ingresa tu clave catastral para iniciar la recuperación</p>
        </div>

        <form [formGroup]="resetPasswordForm" class="space-y-4">
            <div>
                <label for="email-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Correo
                    electrónico</label>
                <input id="email-address" formControlName="email" type="email" placeholder="Correo electrónico"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Clave catastral</label>
                <input formControlName="clave_catastral" type="email" placeholder="Clave catastral"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
            </div>
            <button type="submit" mat-flat-button color="primary" class="w-full rounded-md" (click)="sendRequest()">
                Enviar solicitud
            </button>
        </form>
    </div>
</div>


