<div class="lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Mis documentos</h2>
        <p>Carpeta de documentos</p>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <span class="sm:ml-3">
          <button type="button" mat-flat-button color="primary" class="rounded-md" (click)="openUploadDialog()">
            <i class="fa-solid fa-file-arrow-up"></i> Subir nuevo documento
          </button>
        </span>
    </div>
</div>

<div class="grid grid-cols-4 gap-3 mt-3">
    <a *ngFor="let document of documents" (click)="openDocument(document.id)" class="flex block p-5 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 hover:cursor-pointer space-x-3">
        <i class="fa-solid fa-file-invoice fa-3x text-gray-800"></i>
        <div>
            <h3 class="text-sm font-bold text-gray-900" *ngIf="!document.nombre_otro">{{ document.Tipo.nombre }}</h3>
            <h3 class="text-sm font-bold text-gray-900" *ngIf="document.nombre_otro">{{ document.nombre_otro }}</h3>
            <p class="text-xs text-gray-500">Vigencia al {{ document.vigencia_final | date:'shortDate' }}</p>
            <p class="text-xs text-gray-500">{{ document.url }}</p>
        </div>
    </a>
</div>
