<div class="lg:px-5 lg:py-5">
    <div class="flex flex-col xl:flex-row">
        <div class="flex flex-col w-full p-6 space-y-10">
            <div class="flex items-center justify-between w-full">
                <div class="text-3xl font-semibold tracking-tight leading-8">Expediente único</div>

                <button type="button" mat-flat-button color="primary" class="rounded-md" (click)="openUploadDialog()">
                    <i class="fa-solid fa-file-arrow-up"></i> Subir nuevo documento
                </button>
            </div>


            <mat-accordion displayMode="flat" >
                <mat-expansion-panel *ngFor="let document of documents" >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-xl text-slate-500">
                            {{ document.nombre }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="grid grid-cols-6 gap-4 mt-3">
                        <div *ngFor="let documentacion of document.Documentacion"
                             class="relative w-full h-40 p-4 border rounded-2xl bg-white mx-auto">
                            <button class="absolute z-20 top-1.5 right-1.5 w-8 h-8" mat-icon-button [matMenuTriggerFor]="menu">
                                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item class="text-red-500" (click)="deleteFile(documentacion.id)">
                                    <i class="fa-solid fa-trash"></i>
                                    Eliminar archivo
                                </button>
                            </mat-menu>
                            <a (click)="openDocument(documentacion)"
                               class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer">
                                <div class="aspect-[9/6]">
                                    <div class="flex items-center justify-center h-full text-slate-400">
                                        <!-- Icon -->
                                        <i class="fa-solid fa-file fa-3x"></i>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto justify-center text-center text-xs">
                                    <div class="truncate font-medium">{{ documentacion.nombre_otro }}</div>
                                    <div class="text-slate-400 truncate font-normal" *ngIf="documentacion.vigencia_final">Vigencia al {{ documentacion.vigencia_final | date:'shortDate' }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>


        </div>
    </div>
</div>
