<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a [routerLink]="['/']">
                    <img class="h-8 w-auto sm:h-10" src="assets/logo-horizontal-moneda.png" alt="">
                </a>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
                <button type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>

            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                <a [routerLink]="['/login']"
                   class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Iniciar Sesión</a>
                <a [routerLink]="['/registrarse']"
                   class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">Registrarse</a>
            </div>
        </div>
    </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
            <h2 class="block text-indigo-600 text-3xl font-bold">Informacion del Tramite</h2>
            <p class="mb-3">El trámite se encuentra disponible para realizarlo en línea</p>
            <a [routerLink]="['/']" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                Ver mas tramites
            </a>
        </div>
    </div>
</div>

<div class="container mx-auto">
    <div class="grid grid-cols-2 gap-5 mt-5" *ngIf="service">
    <div class="p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md">
        <div class="flex">
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ service.nombre }}</h5>
        </div>
        <h5 class="mb-2 text-md font-bold tracking-tight text-gray-600 dark:text-white">{{ service.Area.nombre }}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ service.descripcion }}</p>
    </div>
    <div
        class=" p-6 w-full bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Información general</h5>

        <h5 class="text-sm font-bold tracking-tight text-gray-500">Costo</h5>
        <p class="mb-1 text-sm font-normal text-blue-400">{{ service.costo }}</p>
        <h5 class="text-sm font-bold tracking-tight text-gray-500">Ubicación</h5>
        <p class="mb-1 text-xs font-normal text-gray-700">{{ service.Area.ubicacion }}</p>
        <h5 class="text-sm font-bold tracking-tight text-gray-500">Teléfono</h5>
        <p class="mb-1 text-xs font-normal text-gray-700">{{ service.Area.telefono }}</p>
        <h5 class="text-sm font-bold tracking-tight text-gray-500">Correo electrónico</h5>
        <p class="mb-1 text-xs font-normal text-gray-700">{{ service.Area.email }}</p>
        <h5 class="text-sm font-bold tracking-tight text-gray-500">Horario</h5>
        <p class="mb-1 text-xs font-normal text-gray-700">{{ service.Area.horario }}</p>
    </div>
</div>
<div class="grid grid-cols-1 gap-5 mt-5" *ngIf="service">
    <div class="col-span-2 bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Requisitos del trámite</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Relación de requerimientos para el proceso de trámite</p>
        </div>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-full">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="w-3/5"> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{ element.Requisito.nombre | excerpt:150 }} </td>
            </ng-container>

            <ng-container matColumnDef="original">
                <th mat-header-cell *matHeaderCellDef> Original</th>
                <td mat-cell *matCellDef="let element">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-green-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="element.original">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-red-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="!element.original">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                </td>
            </ng-container>

            <ng-container matColumnDef="copias">
                <th mat-header-cell *matHeaderCellDef> No. Copias</th>
                <td mat-cell *matCellDef="let element">
                    <span class="inline-flex items-center p-1 mr-2 text-xs font-semibold text-blue-800 bg-blue-100 rounded-full">
                      {{ element.no_copias }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="complementario">
                <th mat-header-cell *matHeaderCellDef> Complementario</th>
                <td mat-cell *matCellDef="let element">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-green-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="element.complementario">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-red-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="!element.complementario">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                </td>
            </ng-container>

            <ng-container matColumnDef="obligatorio">
                <th mat-header-cell *matHeaderCellDef> Obligatorio</th>
                <td mat-cell *matCellDef="let element">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-green-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="element.obligatorio">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-center text-red-500" viewBox="0 0 20 20" fill="currentColor" *ngIf="!element.obligatorio">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div class="lg:flex lg:items-center lg:justify-between mt-5" *ngIf="service">
    <div class="flex-1 min-w-0"></div>
</div>

</div>

<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-800">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a [routerLink]="['/']" class="flex items-center mb-4 sm:mb-0">
            <img src="assets/logo-horizontal-moneda.png" class="mr-3 h-8">
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a [routerLink]="" class="mr-4 hover:underline md:mr-6">Políticas de Privacidad</a>
            </li>
            <li>
                <a [routerLink]="" class="mr-4 hover:underline md:mr-6">Condiciones de Uso</a>
            </li>
            <li>
                <a [routerLink]="" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a [routerLink]="">H. Ayuntamiento de Solidaridad</a>.
</span>
</footer>





