<aside class="pt-16 w-64 h-full">
    <div class="h-full overflow-y-auto py-4 px-3 bg-white">
        <div class="text-center mt-4 mb-8">
            <h1 class="text-sm uppercase font-bold label-section">Bienvenido, {{ user.nombre }}</h1>
            <p class="text-xs text-slate-400"> {{ user.email }}</p>
        </div>
        <ul class="space-y-1.5 text-sm">
            <div *ngFor="let item of menu" class="space-y-1.5">
                <h3 class="uppercase text-xs font-bold label-section px-2.5 pt-2">{{ item.name }}</h3>
                <div class="space-y-1">
                    <li *ngFor="let value of item.values">
                        <!--
                            Se debe agregar el modulo de permisos *appPermissionModule="{module: value.module, action: value.action}"
                        -->
                        <a [routerLink]="[value.path]"
                           class="flex items-center p-2 font-normal text-gray-500 rounded-lg hover:bg-slate-200 duration-200">
                            <i class="fa-solid {{value.icon}}"></i>
                            <span class="flex-1 ml-3 whitespace-nowrap">{{ value.title }}</span>
                        </a>
                    </li>
                </div>
            </div>

            <h3 class="uppercase text-xs font-bold label-section px-2.5 pt-2">Sesión</h3>
            <li>
                <a href="#"
                   class="flex items-center p-2 font-normal text-gray-500 rounded-lg hover:bg-slate-200 duration-200">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="flex-1 ml-3 whitespace-nowrap">Salir</span>
                </a>
            </li>

        </ul>
    </div>
</aside>
