<div class="min-h-full flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full py-5">
        <img class="mx-auto h-12 w-auto" src="assets/logo-horizontal-moneda.png">
    </div>
    <div class="max-w-xl w-full bg-white rounded-xl border border-gray-200 shadow-md p-8">
        <div class="mb-5">
            <h3 class="text-2xl font-bold text-gray-900">Crea tu cuenta</h3>
            <p class="text-sm text-gray-600">Ingresa los siguientes datos</p>
        </div>

        <form [formGroup]="registerForm" (submit)="onRegister()">
            <div class="grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput formControlName="nombre" type="text">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido(s)</mat-label>
                    <input matInput formControlName="apellidos" type="text">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Correo electronico</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirmar correo electronico</mat-label>
                <input matInput formControlName="re_email" type="email">
            </mat-form-field>

            <div class="grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" type="text">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>RFC</mat-label>
                    <input matInput formControlName="rfc" type="text">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Rango de Edad</mat-label>
                <mat-select formControlName="edad" >
                    <mat-option value="1">18 - 29 años</mat-option>
                    <mat-option value="2">30 - 59 años</mat-option>
                    <mat-option value="3">60 o más</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput formControlName="re_password" type="password">
                </mat-form-field>
            </div>

            <mat-radio-group class="space-x-3" formControlName="genero">
                <mat-radio-button value="1">Hombre</mat-radio-button>
                <mat-radio-button value="2">Mujer</mat-radio-button>
            </mat-radio-group>

            <button type="submit" mat-flat-button color="primary"
                    class="mb-3 mt-3 rounded-md w-full">
                Crear cuenta
            </button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                ¿Ya tienes cuenta?
                <a [routerLink]="['/login']" class="text-blue-700 hover:underline dark:text-blue-500">Inicia sesión aquí</a>
            </div>

        </form>
    </div>
</div>
