<div class="space-y-5">
    <div>
        <h2 class="text-2xl font-bold leading-7 text-gray-900">Licencias de Funcionamiento</h2>
        <p>El trámite se encuentra disponible para realizarlo en línea</p>
    </div>

    <div class="flex items-center justify-between mb-5">
        <div class="lg:w-1/3 md:w-1/2">
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" (keyup)="applyFilter($event)"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2"
                       placeholder="Buscar licencia de funcionamiento...">
            </div>
        </div>
        <div class="flex space-x-3">
            <span>
                <button mat-flat-button color="primary" class="rounded-md" (click)="addNewLicense()">
                    <i class="fa-solid fa-circle-plus"></i>
                    Agregar Licencia
                </button>
            </span>
        </div>
    </div>

    <div class="rounded-lg bg-white shadow overflow-hidden">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-full">
            <ng-container matColumnDef="licencia">
                <th mat-header-cell *matHeaderCellDef> Licencia Funcionamiento</th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="openDetailDialog(element)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline hover:cursor-pointer">
                        {{ element.licencia_funcionamiento_id }}
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="rfc">
                <th mat-header-cell *matHeaderCellDef> Dirección</th>
                <td mat-cell *matCellDef="let element">{{ element.domicilio_fiscal }}</td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Acción</th>
                <td mat-cell *matCellDef="let element; let i = index" class="space-x-3">
                    <button type="button" mat-flat-button color="primary" class="rounded-md" (click)="getEstadoCuenta(element.licencia_funcionamiento_id)">
                        Generar Estado de Cuenta
                    </button>

                    <button type="button" mat-stroked-button color="primary" class="rounded-md"
                            *ngIf="element.ultimo_ejercicio_pagado.toString() === currentDate"
                    (click)="openRenewLicenseForm()">
                        Renovar Licencia
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron resultados...</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
<!--<div class="grid grid-cols-4 items-start gap-5 mt-5">
    <div class="w-full p-6 space-y-5 bg-white shadow rounded-lg">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Agregar Licencia Funcionamiento</h3>
        <form [formGroup]="licenceForm" (ngSubmit)="createLicence()">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Ingresa número de licencia</mat-label>
                <input matInput type="text" formControlName="licencia">
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="rounded-md w-full">
                Agregar
            </button>
        </form>
    </div>
</div>-->
