<div *ngIf="request">
    <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Detalle de la Solicitud</h2>
            <p>Trámite {{ request.Servicio.nombre }}</p>
        </div>

        <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <span class="sm:ml-3">
          <button mat-flat-button color="primary" (click)="openHistoryDialog(request.id)"
                  class="inline-flex items-center px-4 py-2 rounded-md text-sm font-medium">
            <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;Historial de cambios
          </button>
        </span>

            <span class="sm:ml-3">
          <button mat-stroked-button (click)="openMessagesDialog(request.id)"
                  class="inline-flex items-center px-4 py-2 rounded-md text-sm font-medium">
            <i class="fa-solid fa-message"></i>&nbsp;Mensajes
          </button>
        </span>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-5 mt-5" *ngIf="request">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Requisitos del trámite</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Relación de requerimientos para el proceso de
                    trámite</p>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-full">
                <ng-container matColumnDef="requisito">
                    <th mat-header-cell *matHeaderCellDef class="w-3/5"> Requisito</th>
                    <td mat-cell *matCellDef="let element"> {{ element.Requisito.nombre }} </td>
                </ng-container>

                <ng-container matColumnDef="seleccionar">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Seleccionar</th>
                    <td mat-cell *matCellDef="let element">
                        <i class="block m-auto text-emerald-600 fa-solid fa-circle-check fa-2x"
                           *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === 1">
                        </i>

                        <i class="block m-auto text-slate-400 fa-solid fa-clock fa-2x"
                           *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === 0">
                        </i>

                        <div class="space-x-3">
                            <!--<button mat-button color="primary" (click)="openUploadDialog()"
                                    class="m-auto rounded-md">
                                Adjuntar documento
                            </button>-->
                            <button mat-flat-button color="primary" (click)="selectDocument(element.Requisito.id)"
                                    class="block m-auto rounded-md" *ngIf="!element.Requisito.Documento">
                                Examinar archivos
                            </button>
                            <button mat-flat-button color="primary" (click)="reSelectDocumentToUpdate(element.Requisito.id, element.Requisito.Documento.id)"
                                    class="block m-auto rounded-md" *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === -1">
                                Adjuntar nuevamente
                            </button>
                        </div>

                    </td>
                </ng-container>

                <ng-container matColumnDef="archivo">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <a (click)="openDocument(element.Requisito.Documento.Documentacion.id)"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline hover:cursor-pointer"
                           *ngIf="element.Requisito.Documento">
                            Ver adjunto
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            </table>
        </div>

        <form [formGroup]="solicitudForm">
            <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200">
                <div class="py-2 px-4 bg-white rounded-t-lg dark:bg-gray-800">
                    <mat-form-field appearance="outline" class="w-full text-xs">
                        <mat-label>Escribe un comentario</mat-label>
                        <textarea matInput formControlName="comentario" rows="4"></textarea>
                    </mat-form-field>
                </div>
                <div class="flex items-center py-2 px-3 space-x-5 border-t">
                    <button mat-stroked-button (click)="saveRequest('1')" class="rounded-md" *ngIf="request.estatus_solicitud_id === 1">
                        <mat-spinner class="inline w-4 h-4 mr-7" diameter="20" color="accent" *ngIf="saving"></mat-spinner>
                        Guardar y enviar despues
                    </button>

                    <button mat-flat-button (click)="saveRequest('2')" class="rounded-md" color="primary"
                            [disabled]="(reqWithDocuments.length !== requeriments.length) || (request.estatus_solicitud_id !== 1 && request.estatus_solicitud_id !== 5 && request.estatus_solicitud_id !== 12)">
                        <mat-spinner class="inline w-4 h-4 mr-7" diameter="20" color="accent" *ngIf="sending"></mat-spinner>
                        Finalizar y enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
