<div *ngIf="request">
    <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Trámite
                de: {{ request.Servicio.nombre }}</h2>
            <p class="text-sm text-gray-500">Se creo el: <b>{{ request.fecha_alta | date: 'longDate': 'UTC' }}</b></p>
        </div>
    </div>

    <div class="grid grid-cols-3 items-start gap-5 mt-5" *ngIf="request">
        <div class="col-span-2 bg-white shadow overflow-hidden rounded-xl">
            <div class="p-5 flex justify-between">
                <div>
                    <h3 class="text-lg font-medium text-gray-900">Requisitos del trámite</h3>
                    <p class="max-w-2xl text-sm text-gray-500">
                        Adjunta los archivos de los requisitos</p>
                </div>
            </div>
            <table *ngIf="request.estatus_solicitud_id === 1 || request.estatus_solicitud_id === 5; else sentRequest" mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-full">
                <ng-container matColumnDef="requisito">
                    <th mat-header-cell *matHeaderCellDef class="w-3/5"> Requisito</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.obligatorio === 1" class="text-red-500 bold">*</span> {{ element.Requisito.nombre }}</td>
                </ng-container>

                <ng-container matColumnDef="seleccionar">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Seleccionar</th>
                    <td mat-cell *matCellDef="let element">
                        <i class="block m-auto text-emerald-600 fa-solid fa-circle-check fa-2x"
                           *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === 1">
                        </i>

                        <div class="flex" *ngIf="requestId !== element.Requisito.id">
                            <i class="block m-auto text-slate-400 fa-solid fa-clock fa-2x"
                               *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === 0">
                            </i>
                            <a mat-button class="block m-auto" color="warn" (click)="reUploadDocument(element.Requisito.id)"
                               *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === 0">
                                Resubir
                            </a>
                        </div>
                        <button mat-stroked-button color="primary"
                                (click)="reSelectDocumentToUpdate(element.Requisito.id, element.Requisito.Documento.id)"
                                class="block m-auto rounded-md" *ngIf="reUpload && requestId === element.Requisito.id">
                            Adjuntar nuevamente
                        </button>


                        <div class="space-x-3">
                            <!--<button mat-button color="primary" (click)="openUploadDialog()"
                                    class="m-auto rounded-md">
                                Adjuntar documento
                            </button>-->
                            <button mat-flat-button color="primary" (click)="selectDocument(element.Requisito.id)"
                                    class="block m-auto rounded-md" *ngIf="!element.Requisito.Documento">
                                Examinar archivos
                            </button>
                            <button mat-stroked-button color="primary"
                                    (click)="reSelectDocumentToUpdate(element.Requisito.id, element.Requisito.Documento.id)"
                                    class="block m-auto rounded-md"
                                    *ngIf="element.Requisito.Documento && element.Requisito.Documento.estatus === -1">
                                Adjuntar nuevamente
                            </button>
                        </div>

                    </td>
                </ng-container>

                <ng-container matColumnDef="archivo">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-button color="primary" (click)="openDocument(element.Requisito.Documento.Documentacion.id)"
                           *ngIf="element.Requisito.Documento && requestId !== element.Requisito.id">
                            Ver adjunto
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            </table>

            <ng-template #sentRequest>
                <div class=" text-center p-32 text-center">
                    <div>
                        <i class="fa-regular fa-circle-check fa-5x mb-3 text-emerald-600"></i>
                        <h3 class="text-lg font-medium text-gray-900">Esta solicitud ya se proceso</h3>
                    </div>
                </div>
            </ng-template>

            <form [formGroup]="solicitudForm" class="p-4" *ngIf="request.estatus_solicitud_id === 1 || request.estatus_solicitud_id === 5">
                <mat-form-field appearance="outline" class="w-full text-xs">
                    <mat-label>Escribe un comentario</mat-label>
                    <textarea matInput formControlName="comentario" rows="4"></textarea>
                </mat-form-field>

                <div class="space-x-3">
                    <button mat-stroked-button (click)="saveRequest('1')" class="rounded-md"
                            *ngIf="request.estatus_solicitud_id === 1">
                        <mat-spinner class="inline w-4 h-4 mr-7" diameter="20" color="accent" *ngIf="saving"></mat-spinner>
                        Guardar y enviar despues
                    </button>

                    <button mat-flat-button (click)="saveRequest('2')" class="rounded-md" color="primary"
                            [disabled]="(reqWithDocuments.length !== reqMandatory.length) || (request.estatus_solicitud_id !== 1 && request.estatus_solicitud_id !== 5 && request.estatus_solicitud_id !== 12)">
                        <mat-spinner class="inline w-4 h-4 mr-7" diameter="20" color="accent" *ngIf="sending"></mat-spinner>
                        Finalizar y enviar
                    </button>
                </div>
            </form>
        </div>

        <div class="space-y-5">
            <div class="p-8 bg-white shadow rounded-xl" *ngIf="request.estatus_solicitud_id === 10">
                <h3 class="text-lg font-medium text-gray-900">Adjuntar comprobante de pago</h3>
                <ngx-dropzone (change)="onSelect($event)" class="my-3" [multiple]="false" accept="application/pdf">
                    <ngx-dropzone-label class="ring-amber-600" autofocus>
                        <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                        Da click aquí o arrastra el documento
                        <p class="text-xs">Formato PDF no más de 5MB</p>
                    </ngx-dropzone-label>

                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="p-8 bg-white shadow rounded-xl">
                <h3 class="text-lg font-medium text-gray-900">Historial del trámite</h3>
                <ol class="relative border-l border-gray-200">
                    <li class="mb-3 ml-4" *ngFor="let record of records">
                        <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-white" style="background-color: {{ record.Estatus.color }}"></div>
                        <time class="mb-1 text-xs font-normal leading-none text-gray-400">{{ record.fecha_alta | date: 'medium':'UTC' }}</time>
                        <h3 class="text-sm font-semibold text-gray-700">{{ record.comentario }}</h3>
                    </li>
                </ol>
            </div>

            <div class="p-8 bg-white shadow rounded-xl">
                <h3 class="text-lg font-medium text-gray-900">Mensajes recibidos</h3>
                <p *ngIf="messages && messages.length <= 0" class="text-xs text-gray-500" role="alert">
                    No se encontraron mensajes para esta solicitud...
                </p>
                <ol class="relative border-l border-gray-200">

                    <li class="mb-3 ml-4" *ngFor="let message of messages">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                        <time class="mb-1 text-xs font-normal leading-none text-gray-400 ">{{ message.fecha_alta | date: 'medium':'UTC'}}</time>
                        <p class="mb-4 text-base font-normal text-gray-500">{{ message.mensaje }}</p>
                    </li>
                </ol>
            </div>

        </div>
    </div>
</div>
