<app-public-navbar></app-public-navbar>
<div class="flex flex-col items-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white mt-28 rounded-2xl border border-gray-200 p-8 space-y-5">
        <div class="max-w-md w-full">
            <img class="mx-auto w-2/3" src="assets/logo-horizontal-moneda.png">
            <p class="mt-2 text-center text-md text-gray-600">
                Bienvenido, ingresa tus credenciales
            </p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div>
                <mat-label>Correo electrónico</mat-label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput id="email" type="email" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        El correo electrónico es requerido
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').hasError('email')">
                        Ingresa un correo electrónico válido
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-label>Contraseña</mat-label>
                <mat-form-field appearance="outline" class="w-full">
                    <input
                        id="password"
                        matInput
                        type="password"
                        formControlName="password">
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit" class="w-full text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Iniciar sesión
            </button>
        </form>
    </div>
    <p class="text-gray-500 mt-3">@ {{ currentYear }}. H. Ayuntamiento de Solidaridad</p>
</div>





