<div class="min-h-full flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white rounded-xl border border-gray-200 shadow-md p-8 space-y-5">
        <div class="max-w-md w-full">
            <img class="mx-auto w-2/3" src="assets/logo-horizontal-moneda.png">
            <p class="mt-2 text-center text-md text-gray-600">
                Bienvenido, ingresa tus credenciales
            </p>
        </div>
        <form [formGroup]="loginForm" (submit)="onLogin()" class="space-y-4">
            <div>
                <input id="email-address" formControlName="email" type="email" placeholder="Correo electrónico"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
            </div>
            <div>
                <input id="password" formControlName="password" type="password" placeholder="Contraseña"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
            </div>
            <div class="flex items-start">
                <a [routerLink]="['/restaurar-contraseña']" class="ml-auto text-sm font-medium text-blue-700 hover:underline">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>
            <button type="submit" mat-flat-button color="primary"
                    class="w-full rounded-md">
                Iniciar Sesión
            </button>
            <div class="text-sm font-medium text-gray-500 mb-0">
                ¿No te has registrado?
                <a [routerLink]="['/registrarse']" class="text-blue-700 hover:underline">
                    Crea tu cuenta
                </a>
            </div>
            <div class="text-sm text-gray-500">
                <a [routerLink]="['/reenviar-link-activacion']" class="ml-auto text-sm font-medium text-blue-700 hover:underline">
                    Reenviar link de activacion
                </a>
            </div>
        </form>
    </div>
</div>





