/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; }

.mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle{
    stroke: #ffffff !important;
}

/* SweetAlert2 Custom */

.swal2-popup{
    font-family: 'Inter var' !important;
    border-radius: 0.5rem !important;
}

.swal2-icon{
    margin: 1.5em auto 0.6em !important;
}

.swal2-title{
    padding: 0 !important;
    font-size: 1.125rem !important;
}

.swal2-html-container{
    margin: 0 !important;
    font-size: .875rem !important;
    color: #eee;
}
/* End SweetAlert2 Custom */

/* Custom Input Styling */
.mat-form-field{
    @apply w-full;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
}

.mat-form-field-wrapper {
    padding-bottom: 1em;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0em !important;
}
/* End Custom Input Styling*/

/* Primary Button Styling */

.mat-button.mat-primary,
.mat-stroked-button.mat-primary {
    @apply text-[#721538];
}
.mat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
    @apply bg-white;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    @apply bg-[#721538] text-white;
}

.mat-icon-button.mat-primary {
    @apply text-[#721538];
}
/* End Primary Button Styling */

/* Success Styling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    @apply text-teal-600;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
    @apply bg-white;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
    @apply bg-teal-600 text-white;
}

.mat-icon-button.mat-success {
    @apply text-teal-600;
}
/* End Success Styling */

/* Navbar Custom */
.bg-navbar {
    @apply bg-[#721538];
}

/* End Navbar */

/* Sidebar*/

.label-section {
    @apply text-[#721538];
}

/* End Sidebar */

/* MatDialog Custom */
.mat-dialog-container{
    font-family: 'Inter var' !important;
    border-radius: 0.8rem !important;
}
/* End MatDialog Custom */
